/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #1A2233;
    background-image:
        radial-gradient(circle at 15% 20%, rgba(8, 203, 0, 0.08) 0%, transparent 22%),
        radial-gradient(circle at 85% 10%, rgba(120, 140, 255, 0.10) 0%, transparent 28%),
        radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0.04) 0%, transparent 26%),
        linear-gradient(135deg, #1E2230 0%, #171B26 100%);

    background-attachment: fixed;
}
/* Contenedor principal centrado */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* Apila elementos */
    align-items: center;
    /* Centra horizontal */
    justify-content: center;
    text-align: center;
    /* Centra vertical */
    min-height: 100vh;
    /* gris oscuro */
    color: #EEEEEE;
    /* gris claro */
    padding: 25px;
}

/* Caja con estilos */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24304A;
    justify-content: space-between;
    /* verde oscuro */
    color: #EEEEEE;
    /* texto claro */
    border-radius: 12px;
    padding: 15px;
    margin: 15px 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* más oscuro */
}

/* Títulos */
h1,
h2,
h3 {
    margin-bottom: 15px;
    color: #08CB00;
    /* verde brillante */
}

/* Texto */
p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #EEEEEE;
}
a {
    text-decoration: none;
}

/* Centrado de texto */
.text-center {
    text-align: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
