/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor principal centrado */
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* Apila elementos */
    align-items: center;
    /* Centra horizontal */
    justify-content: center;
    /* Centra vertical */
    min-height: 100vh;
    background-color: #37353E;
    /* gris oscuro */
    color: #EEEEEE;
    /* gris claro */
    padding: 25px;
}

/* Caja con estilos */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #253900;
    /* verde oscuro */
    color: #EEEEEE;
    /* texto claro */
    border-radius: 12px;
    padding: 15px;
    margin: 15px 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* más oscuro */
}

/* Títulos */
h1,
h2,
h3 {
    margin-bottom: 15px;
    color: #08CB00;
    /* verde brillante */
}

/* Texto */
p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #EEEEEE;
}

/* Centrado de texto */
.text-center {
    text-align: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
