/* ==========================
   VARIABLES
========================== */

:root {
    --bg-primary: #1A2233;
    --bg-secondary: #1E2230;
    --bg-tertiary: #171B26;
    --card-bg: #24304A;

    --text-primary: #EEEEEE;
    --text-secondary: #1A2233;
    --accent: #08CB00;
    --accent-hover: #07cb00bf;

    --black: #000000;

    --shadow: rgba(0, 0, 0, 0.3);

    --gradient-green: rgba(8, 203, 0, 0.08);
    --gradient-blue: rgba(120, 140, 255, 0.10);
    --gradient-white: rgba(255, 255, 255, 0.04);
}

/* ==========================
   LIGHT THEME
========================== */

[data-theme="light"] {
    --bg-primary: #d9dcfe;
    --bg-secondary: #d9dcfe;
    --bg-tertiary: #ECEFF1;
    --card-bg: #FFFFFF;

    --text-primary: #1A2233;
    --text-secondary: #FFFFFF;
    --accent: #0a6cf5;
    --accent-hover: #e7f50a;

    --black: #000000;

    --shadow: rgba(0, 0, 0, 0.15);

    --gradient-green: rgba(46, 125, 50, 0.08);
    --gradient-blue: rgba(100, 149, 237, 0.08);
    --gradient-white: rgba(255, 255, 255, 0.25);
}
/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ==========================
   BODY
========================== */

body {
    background-color: var(--bg-primary);
    background-image:
        radial-gradient(circle at 15% 20%, var(--gradient-green) 0%, transparent 22%),
        radial-gradient(circle at 85% 10%, var(--gradient-blue) 0%, transparent 28%),
        radial-gradient(circle at 50% 80%, var(--gradient-white) 0%, transparent 26%),
        linear-gradient(135deg, var(--bg-secondary) 0%, var(--bg-tertiary) 100%);
    background-attachment: fixed;
}

/* ==========================
   LAYOUT
========================== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
    padding: 25px;

    text-align: center;
    color: var(--text-primary);
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

/* ==========================
   CARD
========================== */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    margin: 15px 10px;
    padding: 15px;

    background-color: var(--card-bg);
    color: var(--text-primary);

    border-radius: 12px;
    box-shadow: 0 4px 10px var(--shadow);

    text-align: center;
}

/* ==========================
   TYPOGRAPHY
========================== */

h1,
h2,
h3 {
    margin-bottom: 15px;
    color: var(--accent);
}

p {
    margin-bottom: 5px;
    line-height: 1.5;
    color: var(--text-primary);
}

a {
    text-decoration: none;
}