.social-icons{
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icon{
    font-size: 2rem;
    margin: 0 10px;
    color : #08CB00;
}

.icon:hover{
    color: #EEEEEE;
    cursor: pointer;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s;
}